<app-header></app-header>
<app-not-found [visible]="!cart || cart.items.length <=0" 
notFoundMessage="Items not Found!"
resetLinkText="Go To Homepage"></app-not-found>
<div *ngIf="cart && cart.items.length >0" class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.grocery.imageUrl" [alt]="cartItem.grocery.name">
            </div>
            <div>
                <a routerLink="/grocery/{{cartItem.grocery.id}}">
                    {{cartItem.grocery.name}}
                </a>
            </div>
            <div>
                <select #quantitySelect [value]="cartItem.quantity"
                (change)="changeQuantity(cartItem, quantitySelect.value)">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>
            <div>
                {{cartItem.price| currency}}
            </div>
            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div class="total-price">
            {{cart.totalPrice | currency}}
        </div>
        <a href="checkout">Checkout</a>
    </div>
</div>
