<nav  class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class = "navbar-nav">
     <li class = "nav-item">
           <img src="../assets/logo.png" width="50px" height="50px" alt="logo"></li> 
      <li> <a href="aboutUs" class="nav-link" >About Us</a></li>
      <li>  <a href="contact" class="nav-link" >Contact</a></li>
      <li>  <a href="login" class="nav-link" >Login/SignUp</a></li>
   </ul>
   
   </nav>
<h1 class="text-center">
    <img src="../assets/logo.png" width="100px" height="100px" alt="logo">
    <b>Welcome to Smart Grocery</b>
</h1>
<h4 class="text-center">
    A one stop solution for all your grocery needs
</h4>
 <body>  <!--background="../assets/background.png" -->
    <p> This is a demo project. </p>
     <p>It is implemented as a part of case study</p>  
     <p>It is a full stack project with spring boot as backend and angular as front end     </p>
   
</body>

